<!-- TODO: Move to index.html and create a service for updating the practice
status -->
<div class="header">
  <h4 class="pull-right">{{correct.length}} of {{totalQuestions}}
    questions correct</h4>
  <h3 class="text-muted">ACT Practice</h3>
</div>

<div class="row quiz">
  <div ng-repeat="question in questions" class="question">
    <h4 ng-bind-html="question.question"></h4>
    <img ng-if="question.img" ng-src="{{question.img}}">
    <form novalidate role="form">
      <div class="form-group">
        <div class="radio" ng-repeat="(k, v) in question.potential">
          <label>
            <input type="radio" ng-value="k"
            ng-model="question.selected"
            ng-click="questionClicked(question, k)">
            <span ng-bind-html="v"></span>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="footer">
  <p>Built with <span class="glyphicon glyphicon-heart"></span> by Zach
  Latta</p>
</div>
